# --- Server Configuration ---
PORT=3000
NODE_ENV=development

# --- Firebase Service Account (Placeholders) ---
FIREBASE_PROJECT_ID=your-task-mgmt-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project.iam.gserviceaccount.com

# --- Documentation Settings ---
SWAGGER_SERVER_URL=http://localhost:3000/api/v1